[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anytree = ">=2.8.0"
deprecation = ">=2.1.0"
pytest = ">=2.7.2"
PyYAML = ">=5.1"
rdflib = ">=6.0.0"
vss-tools = {editable = true, path = "."}
graphql-core = "*"

[dev-packages]
flake8 = ">=6.0.0"
pre-commit = ">=3.0.4"


[requires]
python_version = "3.8.12"
